/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* Defining the variables for the colors. */
$text-color: #b1bdb4;

$black-primary: #16181b;
$black-secondary: #121417;
$border-color: #4c4c4c;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

/* A CSS reset. It is used to make sure that all browsers render the elements in the same way. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting the background color to black, the font to Roboto, and the letter spacing to 0.1px. */
body {
  background: $black-primary;
  background-attachment: fixed;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

/* A mixin that is used to limit the number of lines that are displayed. */
@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

/* Hiding the scrollbar. */
::-webkit-scrollbar {
  width: 0px;
}
